.code-1 {
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
}

.code-2 {
    background-color: hsl(60, 100%, 50%)
}

.code-1, .code-2 {
    font-size: 28px;
    font-family: helvetica, "times new roman", sanf-serif;
    
}